p {
    text-align: justify;
}

figure{
    background-color:rgb(213, 213, 213);
    justify-content:center;
    text-align:center;
}

hr{
  
    border-width: 3px;
    border-color: greenyellow;
    background-color: greenyellow;
    margin-top: 0px;
}

h1{
    margin-bottom: 0px;
}

img {
    height: 4cm;
    width: auto;
    align-items: center;
}

p, figcaption, ul{
    font-size: 12px;
    color: rgb(49, 49, 49);
}

body {
    font-family:Arial;
}

.class { /*essa class é para o primeiro h1*/
    border: 3px double rgb(40, 94, 40);
    background-color: rgb(40, 94, 40);
    color: white;
    font-size: 20px;
    padding: 2px;
    border-radius: 0.5rem;
    /*uma outra solução que encontrei e usei o "0.5rem": 
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;*/
}

.footer {
    background-color: rgb(40, 94, 40);
    border-top: 4px inset greenyellow;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: aliceblue;
    font-size: 0.6rem;
}

.footer .left, .footer .center, .footer .right {
    flex: 1;
    padding: 5px;
}

.logo {
    width: 350px;
    height: auto;
}

body {
    font-size: 16px;
    padding: 10px;
}

main {
    padding: 10px;
}

img.logo {
    width: 140px;
    height: auto;
}

.footer {
    display: block;
    text-align: center;
}

.footer .footerElement {
    margin-bottom: 10px; /*espaçamento entre os itens, que estão um acima do outro*/
}

@media (min-width: 768px) {
    body {
        font-size: 18px; 
    }

    main {
        padding-left: 7.6cm;
        padding-right: 7.6cm;
    }

    img.logo {
        width: 200px;
        height: auto;
    }

    img {
        width: 450px;
        height: auto;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        text-align: center;
        font-size: 0.7rem;
    }

    .footer .footerElement {
        margin-bottom: 0;
        flex: 1;
    }
}
