p {
    text-align: justify;
}

figure{
    background-color:rgb(213, 213, 213);
    justify-content:center;
    text-align:center;
}

hr{
  
    border-width: 3px;
    border-color: greenyellow;
    background-color: greenyellow;
    margin-top: 0px;
}

h1{
    margin-bottom: 0px;
}

img {
    height: 4cm;
    width: auto;
    align-items: center;
}

p, figcaption, ul{
    font-size: 12px;
    color: rgb(49, 49, 49);
}

body {
    font-family:Arial;
    font-size: 16px;
    padding: 10px;
}

main {
    padding: 10px;
}

.class { /*essa class é para o primeiro h1*/
    border: 3px double rgb(40, 94, 40);
    background-color: rgb(40, 94, 40);
    color: white;
    font-size: 20px;
    padding: 2px;
    border-radius: 0.5rem;
    /*uma outra solução que encontrei e usei o "0.5rem": 
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;*/
}

.footer {
    background-color: rgb(40, 94, 40);
    border-top: 4px inset greenyellow;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: aliceblue;
    font-size: 0.6rem;

    /*Parte que deixa organizado em coluna*/
    display: block;
    text-align: center;
}

.logo {
    width: 140px;
    height: auto;
}

.footer * {
    padding: 1px;
    margin-bottom: 10px; /*espaçamento entre os itens, que estão um acima do outro. Aumentando-se a altura da base da margem de cada elemento*/
}

@media only screen and (min-width: 769px) { /*quando for maior que 768, ele mudará para tela grande*/
    body {
        font-size: 18px; 
    }

    main {
        padding-left: 7.6cm;
        padding-right: 7.6cm;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    img {
        width: 450px;
        height: auto;
    }

    .footer {
        display: flex;
        font-size: 0.7rem;
    }

    .footer * {
        flex: 1;
    }
}
